<script setup lang="ts">
import { ref, watch } from 'vue';
import { useCandidates } from '../mixins/useCandidates';
import ScrollShadow from 'vue3-scroll-shadow'
import LoadingOverlay from '../components/LoadingOverlay.vue';
import AppDrawer from '../components/AppDrawer.vue';
import BasicPage from '../components/BasicPage.vue';
import { useRouter } from 'vue-router';
import useVotingStore, { Candidate } from '../stores/voting';
import { storeToRefs } from 'pinia';

const { selectedCandidateId } = storeToRefs(useVotingStore());
const { candidates, loading } = useCandidates();
const router = useRouter();

const goBack = () => {
  router.push('/vote/cast');
}

const selectedCandidate = ref<Candidate | undefined>();
const candidateDrawerOpen = ref(false);
const onCandidateClick = (candidate: Candidate) => {
  selectedCandidate.value = candidate
  candidateDrawerOpen.value = true;
}
</script>

<template>
  <BasicPage class="scrollable-page">
    <LoadingOverlay v-if="loading" title="Loading candidates" />
    <h1 class="title">Candidates</h1>
    <p>Tap on any of the candidates below to learn more about them.</p>
    <br />
    <AppDrawer v-model="candidateDrawerOpen">
      <div v-if="selectedCandidate" class="is-flex is-flex-direction-column" style="height: 100%;">
        <h3 class="title is-5">{{ selectedCandidate.name }}</h3>
        <p class="subtitle is-6">{{ selectedCandidate.party }}</p>
        <p
          class="is-flex-grow-1 has-text-justified"
          style="overflow-y: scroll;"
        >{{ selectedCandidate.bio }}</p>
        <OButton
          class="mt-4"
          variant="primary"
          @click="candidateDrawerOpen = false"
          iconLeft="arrow-left"
        >Back</OButton>
      </div>
    </AppDrawer>
    <ScrollShadow shadow-color-from="#9e9e9e">
      <div
        class="card candidate-button mb-3"
        v-for="candidate in candidates"
        @click="onCandidateClick(candidate)"
      >
        <div class="card-content">
          <div class="columns is-mobile is-vcentered">
            <div class="column">
              <div class="title is-5">{{ candidate.name }}</div>
              <p class="subtitle is-6">{{ candidate.party }}</p>
            </div>
            <div class="column is-narrow" v-if="selectedCandidateId === candidate.candidate_id">
              <OIcon icon="shield-check" class="has-text-success" />
            </div>
          </div>
        </div>
      </div>
    </ScrollShadow>
    <OButton
      class="mt-4"
      variant="primary"
      iconLeft="arrow-left-bold"
      @click="goBack"
    >Go back to voting</OButton>
  </BasicPage>
</template>

<style lang="scss">
.scrollable-page {
  min-height: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.candidate-button {
  /* &.button {
    padding: 2rem 1rem;
    text-align: left;
    justify-content: flex-start;
  }
  .button-wrapper {
    flex-grow: 1;
  } */

  border-radius: 10px;
  border: 1px solid black;
  box-shadow: none;
}
</style>