<script setup lang="ts">
import { useRouter } from 'vue-router';
import BasicPage from '../components/BasicPage.vue';
import AppIcon from '../assets/icon.svg'

const router = useRouter();
const goToVoting = () => router.push('/verify/profile')
const goToPolls = () => router.push('/polls');
</script>

<template>
  <BasicPage>
    <div class="rows">
      <h1 class="title is-4 has-text-centered">NamPoll</h1>
      <img :src="AppIcon" />
      <p>Welcome to the Namibian Live Polling app. Select an option below to continue.</p>
      <OButton icon-right="ballot" variant="primary" @click="goToVoting">Vote</OButton>
      <OButton icon-right="poll" variant="primary" @click="goToPolls">View Polls</OButton>
    </div>
  </BasicPage>
</template>