<script setup lang="ts">
import { reactive } from 'vue';
import useVuelidate, { ErrorObject } from '@vuelidate/core'
import { helpers, required } from '@vuelidate/validators'
import { useRouter } from 'vue-router';
import AppStep from '../components/AppStep.vue';
import dayjs from 'dayjs';
import useUserStore, { UserProfile } from '../stores/user';

const MIN_AGE = 16;

const state = reactive({
  name: '',
  id: '',
  birthday: null as null | number,
});
const rules = {
  name: { required },
  id: { required },
  birthday: {
    required,
    minAge: helpers.withMessage(
      `You must be at least ${MIN_AGE} to vote`,
      (birthday: number | null) => {
        if (birthday !== null) {
          const age = dayjs(Date.now()).diff(birthday, 'years');
          return age >= MIN_AGE;
        }
        return true;
      }
    ),
  }
}
const v$ = useVuelidate(rules, state, { $autoDirty: true })

const getErrorMessage = (errors: ErrorObject[]) => {
  return errors.map(e => e.$message).join(', ');
}

const router = useRouter();
const onSubmit = async () => {
  const valid = await v$.value.$validate();
  if (!valid) return;

  useUserStore().updateProfile(state as UserProfile);
  router.push('/verify/nvc');
}
</script>

<template>
  <AppStep
    title="1. Verification"
    subtitle="Enter your details"
    button="Next step"
    @submit="onSubmit"
  >
    <form @submit.prevent="onSubmit">
      <OField
        label="Name"
        :variant="v$.name.$dirty ? (v$.name.$error ? 'danger' : '') : ''"
        :message="v$.name.$error ? getErrorMessage(v$.name.$errors) : ''"
      >
        <OInput name="name" v-model="state.name" required size="large" />
      </OField>
      <OField
        label="ID/Passport number"
        :variant="v$.id.$dirty ? (v$.id.$error ? 'danger' : '') : ''"
        :message="v$.id.$error ? getErrorMessage(v$.id.$errors) : ''"
      >
        <OInput name="id" v-model="state.id" required size="large" />
      </OField>
      <OField
        label="Birthday"
        :variant="v$.birthday.$dirty ? (v$.birthday.$error ? 'danger' : '') : ''"
        :message="v$.birthday.$error ? getErrorMessage(v$.birthday.$errors) : ''"
      >
        <ODatepicker
          name="birthday"
          v-model="state.birthday"
          required
          placeholder="Click to select..."
          trap-focus
          size="large"
        />
      </OField>
      <input type="submit" v-show="false" />
    </form>
  </AppStep>
</template>
