<script setup lang="ts">
import { ref, computed } from 'vue';
import { useRouter } from 'vue-router';
import AppStep from '../components/AppStep.vue';
import useUserStore from '../stores/user';
import { useProgrammatic } from '@oruga-ui/oruga-next';
import LoadingOverlay from '../components/LoadingOverlay.vue';

const router = useRouter();
const userStore = useUserStore();
const formRef = ref<HTMLFormElement | null>(null);
const isProcessing = ref(false);
const hasUploadedFile = ref(false);
const uploadedFile = ref<File | null>(null);
const uploadedFileSource = ref<'capture' | 'upload' | null>(null);

const { oruga } = useProgrammatic();

const nextStep = async () => {
  const valid = formRef.value?.reportValidity();
  if (valid && uploadedFile.value) {
    isProcessing.value = true;
    try {
      await userStore.registerVoter(uploadedFile.value);
      router.push('/vote/cast');
    } catch (error: unknown) {
      oruga.notification.open({
        message: String(error),
        duration: 5000,
        position: 'top',
        variant: 'danger',
        closable: true
      });
    } finally {
      isProcessing.value = false;
    }
  }
}

function handleFileUpload(event: Event, source: 'capture' | 'upload') {
  uploadedFile.value = null;
  uploadedFileSource.value = null;
  hasUploadedFile.value = false;
  const input = event.target;
  if (input instanceof HTMLInputElement) {
    if (input.files !== null && input.files.length > 0) {
      hasUploadedFile.value = true;
      uploadedFile.value = input.files[0];
      uploadedFileSource.value = source;
    }
  }
}
// TODO: Only allow uploading using one input type

</script>

<template>
  <LoadingOverlay
    v-if="isProcessing"
    title="Verifying card"
    message="Please be patient as our experts are verifying the authenticity of your Voter Card. This shouldn't take long"
  />
  <AppStep
    v-else
    title="2. Verification"
    subtitle="Verify your Namibia Voter Card"
    button="Next step"
    :button-disabled="!hasUploadedFile"
    @submit="nextStep"
  >
    <form ref="formRef">
      <h3 class="subtitle">Please choose one of the following</h3>
      <OField label="Take photo of Namibia Voter Card">
        <OInput
          type="file"
          iconRight="camera"
          iconRightVariant="primary"
          accept="image/*"
          capture="environment"
          :disabled="uploadedFileSource === 'upload'"
          @change="handleFileUpload($event, 'capture')"
        />
      </OField>
      <div class="divider">OR</div>
      <OField label="Upload scan of Namibia Voter Card">
        <OInput
          type="file"
          iconRight="upload"
          iconRightVariant="primary"
          :disabled="uploadedFileSource === 'capture'"
          @change="handleFileUpload($event, 'upload')"
        />
      </OField>
    </form>
  </AppStep>
</template>

<style scoped>
@import "../../node_modules/@creativebulma/bulma-divider";
</style>