<script setup lang="ts">
import { ref, computed, watch, onMounted } from 'vue';
import AppStep from '../components/AppStep.vue';
import CandidateOption from '../components/CandidateOption.vue';
import useVotingStore from '../stores/voting';
import { useRouter } from 'vue-router';
import LoadingOverlay from '../components/LoadingOverlay.vue';
import { useCandidates } from '../mixins/useCandidates';

const votingStore = useVotingStore();
const selectedCandidateId = ref<number | undefined | null>(votingStore.selectedCandidateId);
const hasSelectedCandidate = computed(() => typeof selectedCandidateId.value !== 'undefined');

const { candidates, loading: isLoadingCandidates } = useCandidates();

watch(() => selectedCandidateId.value, (candidateId) => {
  if (typeof candidateId === 'number') {
    votingStore.setSelectedCandidate(candidateId);
  }
}, { immediate: true });

const router = useRouter();
const onSubmit = () => {
  if (typeof selectedCandidateId.value === 'number') {
    votingStore.saveVote(selectedCandidateId.value);
    router.push('/vote/confirm');
  }
};

const learnAboutCandidates = () => {
  router.push('/candidates');
}
</script>

<template>
  <LoadingOverlay v-if="isLoadingCandidates" title="Loading candidates" />
  <AppStep
    :modelValue="2"
    subtitle="Vote by tapping on a candidate"
    button="Submit"
    :button-disabled="!hasSelectedCandidate"
    @submit="onSubmit"
    scrollable
  >
    <div class="is-flex is-flex-direction-column">
      <OButton
        @click="learnAboutCandidates"
        class="mb-4"
        iconLeft="information-outline"
        variant="info"
      >Learn about candidates</OButton>
      <CandidateOption
        class="mb-4"
        v-model="selectedCandidateId"
        v-for="candidate in candidates"
        :name="candidate.name"
        :party="candidate.party"
        :native-value="candidate.candidate_id"
      />
    </div>
  </AppStep>
</template>