<script setup lang="ts">
import { useRouter } from 'vue-router';
import VotingCompleteIcon from '../assets/voting_complete_icon.svg';
import BasicPage from '../components/BasicPage.vue';

const router = useRouter();

const goToPolls = () => {
  // Use replace to prevent user from going back
  router.replace('/polls');
};
</script>

<template>
  <BasicPage>
    <div class="rows">
      <h1 class="title is-4 has-text-centered">Thank you for voting at the 2053 Federal election!</h1>
      <OButton icon-right="poll" variant="primary" @click="goToPolls">To Polls</OButton>
      <img :src="VotingCompleteIcon" />
    </div>
  </BasicPage>
</template>

<style>
.rows {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.rows img {
  min-height: 0;
}
</style>