<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import AppStep from '../components/AppStep.vue';
import useVotingStore from '../stores/voting';
import { useProgrammatic } from '@oruga-ui/oruga-next';

const router = useRouter();
const { oruga } = useProgrammatic();

const votingStore = useVotingStore();
const { selectedCandidate } = storeToRefs(votingStore);

const isProcessing = ref(false);

const confirmVote = async () => {
  isProcessing.value = true;
  try {
    await votingStore.castVote();
    router.push('/vote/complete');
  } catch (error: unknown) {
    oruga.notification.open({
      message: String(error),
      duration: 5000,
      position: 'top',
      variant: 'danger',
      closable: true
    });
  } finally {
    isProcessing.value = false;
  }
}
</script>

<template>
  <LoadingOverlay v-if="isProcessing" />
  <AppStep :modelValue="3" subtitle="Confirm your vote below" button="Submit" @submit="confirmVote">
    <div class="has-text-centered">
      <h1 class="title is-4">Confirm?</h1>
      <div v-if="selectedCandidate" class="mt-6">
        <p>You voted for</p>
        <div class="card selected-candidate-card">
          <div class="card-content">
            <div>
              <h3 class="title is-5">{{ selectedCandidate.name }}</h3>
              <p class="subtitle">{{ selectedCandidate.party }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </AppStep>
</template>

<style scoped>
.selected-candidate-card {
  background: #ffffff;
  border: 1px solid #989898;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.selected-candidate-card .title {
  font-weight: bold;
}
</style>