<script setup lang="ts">
import { ref, watch } from 'vue';

const props = withDefaults(defineProps<{
  modelValue?: boolean;
}>(), {
  modelValue: false,
});

const internalValue = ref(props.modelValue);
watch(() => props.modelValue, (v) => internalValue.value = v);
const emit = defineEmits(['update:modelValue']);
watch(() => internalValue.value, (v) => emit('update:modelValue', v));

function clickOutside() {
  internalValue.value = false;
}
</script>

<template>
  <div class="drawer" :class="{ active: internalValue }">
    <div class="drawer-overlay" @click="clickOutside"></div>
    <div class="drawer-content">
      <div class="drawer-drag-bar"></div>
      <div class="drawer-body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<style scoped>
.drawer-content {
  position: fixed;
  bottom: -80vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 999;

  background: white;
  border-radius: 10px 10px 0 0;
  padding: 1.5rem;
  transition: bottom 0.2s cubic-bezier(0.5, 1, 0.89, 1);

  display: flex;
  flex-direction: column;
}

.drawer.active .drawer-content {
  bottom: 0;
}

.drawer-body {
  flex-grow: 1;
  min-height: 0;
}

.drawer-drag-bar {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 40%;
  height: 12px;
  background: #c4c4c4;
  border-radius: 61px;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.drawer.active .drawer-overlay {
  opacity: 0.7;
  pointer-events: all;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
</style>