<script setup lang="ts">
import { toRefs } from 'vue';
import ScrollShadow from 'vue3-scroll-shadow'

const props = withDefaults(defineProps<{
  title?: string,
  subtitle?: string,
  button: string,
  buttonDisabled?: boolean,
  modelValue?: number,
  scrollable?: boolean,
}>(), {
  // FIXME: Fix this prop not updating in production
  scrollable: true,
});
const {
  title,
  subtitle,
  button,
  buttonDisabled,
  modelValue,
  scrollable
} = toRefs(props);
const emit = defineEmits(['submit', 'update:modelValue']);

const steps = [
  { label: 'Identity', },
  { label: 'Vote' },
  { label: 'Confirm' }
];
</script>

<template>
  <div class="is-flex is-flex-direction-column" style="height:100%;">
    <header class="p-4">
      <o-steps
        :modelValue="modelValue"
        @update:modelValue="emit('update:modelValue', $event)"
        :has-navigation="false"
      >
        <o-step-item
          :clickable="false"
          v-for="(step, i) in steps"
          :step="i + 1"
          :label="step.label"
          clickable
        >
          <template></template>
        </o-step-item>
      </o-steps>

      <div class="has-text-centered">
        <h1 class="title is-4">{{ title }}</h1>
        <h2 class="subtitle is-6">{{ subtitle }}</h2>
      </div>
    </header>

    <main>
      <section class="page-content is-flex-grow-1" :class="{ scrollable }">
        <ScrollShadow v-if="scrollable" shadow-color-from="#9e9e9e">
          <slot />
        </ScrollShadow>
        <slot v-else />
      </section>
      <OButton
        variant="primary"
        v-if="button"
        @click="emit('submit')"
        :disabled="buttonDisabled"
      >{{ button }}</OButton>
    </main>
  </div>
</template>

<style scoped>
header {
  border-bottom: 3px solid #f66d84;
}

main {
  background-color: #eaeaea;
  min-height: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-content {
  margin-bottom: 1em;
}

.page-content.scrollable {
  min-height: 0;
}

.vue3-scroll-shadow__top-shadow {
  z-index: 2;
}
.vue3-scroll-shadow__bottom-shadow {
  z-index: 2;
}
</style>