<script setup lang="ts">import { toRefs } from 'vue';

const props = defineProps<{
  name: string;
  party: string;
  nativeValue: number;
  modelValue?: number | null;
}>();
const {
  name,
  party,
  nativeValue,
  modelValue,
} = toRefs(props);

const emit = defineEmits(['update:modelValue', 'click']);

const onClick = () => {
  emit('update:modelValue', nativeValue.value)
  emit('click', nativeValue.value)
};
</script>

<template>
  <div
    class="card candidate-card"
    @click="onClick"
    :class="{ selected: modelValue === nativeValue }"
  >
    <div class="card-content">
      <div class="columns is-mobile">
        <div class="column">
          <div>
            <h3 class="title is-5">{{ name }}</h3>
            <p class="subtitle">{{ party }}</p>
          </div>
        </div>
        <div class="column is-narrow is-flex">
          <ORadio
            :modelValue="modelValue"
            @update:modelValue="$emit('update:modelValue', $event)"
            size="large"
            name="vote"
            :native-value="nativeValue"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "../variables.scss";

.card.candidate-card {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: none;

  cursor: pointer;

  &.selected {
    background: $primary;

    .title {
      color: findColorInvert($text-strong);
    }
    .subtitle {
      color: findColorInvert($text);
    }

    .b-radio.radio .check {
      border-color: $primary-invert;
    }

    .b-radio.radio .check:before {
      background-color: $primary-invert;
    }
  }

  .b-radio.radio {
    margin-right: 0;
  }

  .b-radio.radio .control-label {
    padding-left: 0;
  }
}
</style>