<script setup lang="ts">
import ProcessingIcon from '../assets/processing_icon.svg';
const props = withDefaults(defineProps<{ title?: string, message?: string }>(), {
  title: 'Processing',
  message: ''
});
</script>

<template>
  <div class="processing-overlay">
    <img :src="ProcessingIcon" />
    <h1 class="title mt-4">{{ props.title }}</h1>
    <p v-if="props.message">{{ props.message }}</p>
  </div>
</template>

<style scoped>
.processing-overlay {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  background-color: #fff;
  padding: 2rem;
  text-align: center;
}

@keyframes ellipsis {
  to {
    width: 1.2em;
  }
}

.processing-overlay h1:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 2000ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0em;
}
</style>