@import "./variables.scss";
@import "../node_modules/bulma/bulma";
@import "../node_modules/@oruga-ui/theme-bulma/dist/scss/bulma";

.button,
.button.is-primary {
  min-width: 300px;
  min-height: 56px;
  font-family: Droid Sans;
  border: 1px solid #000;
}

.step-title {
  margin-top: 0.6rem;
}
